body {
    font-family: 'Roboto', sans-serif;
}
.confirmed{
  
}
.unconfirmed{
    background-color: #eea;
}
.mustchange{
    background-color: #faa;
}
.error {
    background-color: #aaf;
}

.menu {
    background-color: #808;
    color:#FFF;
    padding: 20px;    
    display:flex;
    justify-content: space-between;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.admin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {    
    background-color: #606;
    padding: 10px;
    margin: 0 6px;
}

.menu a, .menu a:visited, .menu a:hover, .menu a:link {
    color:#FFF;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sortabletable tbody tr:nth-child(odd) {
    background-color: #ddd;
}
.sortabletable tfoot td {
    text-align: center;
}
.hoPa:hover .hoCh{
    display:block;
    right:0px;
    top:-20px;
    z-index:1000;
}


.highrowSortable {
    background-image:linear-gradient(to top,RGBA(97, 72, 117,1) 2px,RGBA(0,0,0,0.0) 3px, RGBA(0,0,0,0.0) calc(100% - 3px), RGBA(97, 72, 117,1) calc(100% - 3px));
}

.highcolSortable {
    background-image:linear-gradient(to right,RGBA(97, 72, 117,1) 2px,RGBA(0,0,0,0.0) 3px, RGBA(0,0,0,0.0) calc(100% - 3px), RGBA(97, 72, 117,1) calc(100% - 2px));
}

.highcolSortableHead {
    background-image:linear-gradient(to right,RGBA(97, 72, 117,1),RGBA(97, 72, 117,1));
    color: #fff;
}

.highcellSortable {
    background-image:radial-gradient(RGBA(0,0,0,0),RGBA(0,0,0,0.2)),linear-gradient(to top,RGBA(97, 72, 117,1) 2px,RGBA(0,0,0,0.0) 3px, RGBA(0,0,0,0.0) calc(100% - 3px), RGBA(97, 72, 117,1) calc(100% - 3px)), linear-gradient(to right,RGBA(97, 72, 117,1) 2px,RGBA(0,0,0,0.0) 3px, RGBA(0,0,0,0.0) calc(100% - 3px), RGBA(97, 72, 117,1) calc(100% - 2px));
}


.sortabletable tbody tr {
    /*border:2px solid rgba(255,0,0,0);*/
}

.sortabletable th, .sortabletable td {
    padding:0px 4px;
    white-space: nowrap;            
    /*background-color: inherit;*/
}

.sortabletable th > div, .sortabletable td > div {
    /*padding:2px 4px;*/
    margin:3px;
    white-space: nowrap;            
}

.sortabletable tr:nth-child(odd) {
    background-color: #dddddd;
}
.sortabletable tr:nth-child(even) {
    background-color: #ffffff;
}

.sortabletable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.sortabletable tbody tr:nth-child(even) {
    background-color: #dddddd;
}


.tblcell {
    padding:5px 20px;
}

.left {
    text-align:left;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.bottom-line {
    border-bottom:2px solid #888;
}

.top-line {
    border-top:2px solid #888;
}

.border-collaps {
    border-collapse: collapse;
}

.mytable.freeze {
    z-index: 10;
    position: relative;
}

.mytable.freeze_vertical {
    z-index: 5;
    position: relative;
}

.mytable.freeze_horizontal {
    z-index: 1;
    position: relative;
}
#editpopover{
    border:1px solid red;
    box-shadow:2px 2px 2px #000;
    position:absolute;
    background-color: #82a43a; 
}

.icon {
    display:inline-block;
    width:20px;
    height:20px;
    padding:0px;
}                

#input-container input{
    width:100%;
    border:0px;
    padding:0px;
    margin:2px;
    font-size: 13px;
    /*font-family: serif;*/
    min-width: 80px;
}

.editInput{
    position:relative;
}

.editInput > label {
    display:inline-block;
    width:100%;
    /*font-family: serif;*/
    font-size: 13px;
    position: absolute;
    right:100%;
    padding: 2px 0px;
    background-color: #800080;
    color:#FFF;
    text-align: right;
}

#title-year{
    font-size:35px;
}