.confirmed{
  
}
.unconfirmed{
    background-color: #eea;
}
.mustchange{
    background-color: #faa;
}
.error {
    background-color: #aaf;
}

.menu {
    background-color: #808;
    color:#FFF;
    padding: 20px;    
    display:flex;
    justify-content: space-between;
}

.user {
    display: flex;
    background-color: #606;
    justify-content: flex-start;
}

.admin {
    display: flex;
    justify-content: flex-end;
    background-color: #606;
}

.menu-item {
    padding: 10px;
}

.menu a, .menu a:visited, .menu a:hover, .menu a:link {
    color:#FFF;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
    background-color: #ddd;
}
tfoot td {
    text-align: center;
}

th,td {
    padding:0 5px;
    white-space: nowrap;            
    background-color: inherit;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
