.confirmed{
  
}
.unconfirmed{
    background-color: #eea;
}
.mustchange{
    background-color: #faa;
}
.error {
    background-color: #aaf;
}

.menu {
    background-color: #808;
    color:#FFF;
    padding: 20px;    
    display:flex;
    justify-content: space-between;
}

.user {
    display: flex;
    background-color: #606;
    justify-content: flex-start;
}

.admin {
    display: flex;
    justify-content: flex-end;
    background-color: #606;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    padding: 10px;
}

.menu a, .menu a:visited, .menu a:hover, .menu a:link {
    color:#FFF;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
    background-color: #ddd;
}
tfoot td {
    text-align: center;
}
.hoPa:hover .hoCh{
    display:block;
    right:0px;
    top:-20px;
    z-index:1000;
}

tbody tr {
    /*border:2px solid rgba(255,0,0,0);*/
}

th,td {
    padding:0 5px;
    white-space: nowrap;            
    background-color: inherit;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
tbody tr:nth-child(even) {
    background-color: #dddddd;
}


.mytable.freeze {
    z-index: 10;
    position: relative;
}

.mytable.freeze_vertical {
    z-index: 5;
    position: relative;
}

.mytable.freeze_horizontal {
    z-index: 1;
    position: relative;
}
#editpopover{
    border:1px solid red;
    box-shadow:2px 2px 2px #000;
    position:absolute;
    background-color: #82a43a; 
}

.icon {
    width:20px;
    height:20px;
    padding:0px;
}                

#input-container input{
    width:100%;
    border:0px;
    padding:0px;
    margin:2px;
    font-size: 16px;
    font-family: serif;
    min-width: 80px;
}

.editInput{
    position:relative;
}

.editInput > label {
    display:inline-block;
    width:100%;
    font-family: serif;
    font-size: 16px;
    position: absolute;
    right:100%;
    padding: 2px 0px;
    background-color: #800080;
    color:#FFF;
    text-align: right;
}

#title-year{
    font-size:35px;
}